@using AvadaRestaurantFinal.ViewModels
@model ForgetPasswordVM
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post">
            <input  asp-for="Email" placeholder="Enter email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <button class="btn btn-primary" type="submit">Send Email</button>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

