
@{
    ViewData["Title"] = "Create";
}

<form method="post">

    <input type="text" name="role" />
    <button class="btn btn-outline-dribbble" type="submit">add role</button>
</form>
<br />
<a class="btn btn-outline-reddit" asp-controller="Role" asp-action="Index">Go to Back</a>


