
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Menu">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page22x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Menu">
        <h6>BEST TABLE IN TOWN</h6>
        <div class="Section1-TeamAndButtonFlex-Menu">
            <h1>Our Seasonal Menu</h1>
            <div class="Section1-Button-Menu">
                <span>VIEW TAKEOUT MENU</span>
                <i class="fa-solid fa-car"></i>
            </div>
        </div>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    <div class="Section2-Menu">
        <div class="Section2-Title-Menu">
            <i class="">Hors d’oeuvres</i>
            <div class="Section2-Line-Menu"></div>
        </div>
        <div class="Section2-ForFlex-menu">
            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu12x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>AHI SALMON NIGIRI</h6>
                    <span>$48</span>

                </div>
                <p>
                    In pellentesque in felis massa
                    vehicula. In sed euismod ut tempor
                    mattis. Purus sed.
                </p>

            </div>

            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu22x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>UMI MASU SALAD</h6>
                    <span>$21</span>

                </div>
                <p>
                    Mollis ornare sit sapien, sodales.
                    Cursus duis proin semper quisque
                    massa elit.
                </p>

            </div>

            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu32x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>TEMAKI WITH CRAB</h6>
                    <span>$32</span>

                </div>
                <p>
                    Ac vel, risus ornare senectus placerat
                    duis amet dictumst tellus. Odio
                    ornare diam in.
                </p>

            </div>

            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu42x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>CALIFORNIA ROLLS</h6>
                    <span>$22</span>

                </div>
                <p>
                    Aliquet bibendum aliquam donec
                    iaculis varius vitae tellus. Felis et
                    viverra.
                </p>

            </div>

            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu52x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>CHEEZE & FISH ON BREAD</h6>
                    <span>$14</span>

                </div>
                <p>
                    Quis duis sit dictum aliquam a velit
                    enim. Tellus in sit augue aliquam.
                    Quis turpis.
                </p>

            </div>

            <div class="Section2-ProductCard-Menu">
                <img src="~/img/menu62x.jpg" alt="">
                <div class="Section2-ProductCard-PriceAndName-Flex-Menu">
                    <h6>PEACHE & CARROT SALAD</h6>
                    <span>$25</span>
                </div>
                <p>
                    Feugiat rhoncus ipsum tristique
                    purus diam, et dolor molestie. Diam
                    ultricies.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section>
    <div class="Section3-Menu">
        <img src="~/img/page72x.jpg" alt="">
        <div class="Section3-TextSide-Menu">
            <span>BLACK PUDDING - $25</span>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->
<section>
    <div class="Section4-Menu">
        <div class="Section4-Title-Menu">
            <i class="">Main Course</i>
            <div class="Section4-Line-Menu"></div>
        </div>
        <div class="Section4-ForFlex-Menu">
            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu382x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Braised Abalone</h6>
                    <span>$52</span>

                </div>
                <p>
                    In pellentesque in felis massa
                    vehicula. In sed euismod ut tempor
                    mattis. Purus sed.
                </p>

            </div>

            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu82x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Twice cooked pork</h6>
                    <span>$21</span>

                </div>
                <p>
                    Mollis ornare sit sapien, sodales.
                    Cursus duis proin semper quisque
                    massa elit.
                </p>

            </div>

            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu92x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Kung Pao chicken</h6>
                    <span>$32</span>

                </div>
                <p>
                    Ac vel, risus ornare senectus placerat
                    duis amet dictumst tellus. Odio
                    ornare diam in.
                </p>

            </div>

            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu102x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>CALIFORNIA ROLLS</h6>
                    <span>$22</span>

                </div>
                <p>
                    Aliquet bibendum aliquam donec
                    iaculis varius vitae tellus. Felis et
                    viverra.
                </p>

            </div>

            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu112x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Steamed Mussles</h6>
                    <span>$58</span>

                </div>
                <p>
                    Quis duis sit dictum aliquam a velit
                    enim. Tellus in sit augue aliquam.
                    Quis turpis.
                </p>

            </div>

            <div class="Section4-ProductCard-Menu">
                <img src="~/img/menu122x.jpg" alt="">
                <div class="Section4-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Char siu & Sushis</h6>
                    <span>$48</span>
                </div>
                <p>
                    Feugiat rhoncus ipsum tristique
                    purus diam, et dolor molestie. Diam
                    ultricies.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- Section 4 End -->
<!-- Section 5 Start -->
<section>
    <div class="Section5-Menu">
        <img src="~/img/page82x.jpg" alt="">
        <div class="Section5-TextSide-Menu">
            <span>MAPLE MOUSE WITH CHICKPEAS - $22</span>
        </div>
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-Menu">
        <div class="Section6-Title-Menu">
            <i class="">Dessert & Coffee</i>
            <div class="Section6-Line-Menu"></div>
        </div>
        <div class="Section6-ForFlex-menu">
            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu132x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>CHOCOLATE BALL ON CAKE</h6>
                    <span>$13</span>

                </div>
                <p>
                    In pellentesque in felis massa
                    vehicula. In sed euismod ut tempor
                    mattis. Purus sed.
                </p>

            </div>

            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu142x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>LIME PIE WITH DARK CRUST</h6>
                    <span>$14</span>

                </div>
                <p>
                    Mollis ornare sit sapien, sodales.
                    Cursus duis proin semper quisque
                    massa elit.
                </p>

            </div>

            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu152x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>RASBERRY AND PEAR CAKE</h6>
                    <span>$18</span>

                </div>
                <p>
                    Ac vel, risus ornare senectus placerat
                    duis amet dictumst tellus. Odio
                    ornare diam in.
                </p>

            </div>

            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu162x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>CAFÉ AU LAIT</h6>
                    <span>$6</span>

                </div>
                <p>
                    Aliquet bibendum aliquam donec
                    iaculis varius vitae tellus. Felis et
                    viverra.
                </p>

            </div>

            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu172x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>IRISH COFFEE</h6>
                    <span>$14</span>

                </div>
                <p>
                    Quis duis sit dictum aliquam a velit
                    enim. Tellus in sit augue aliquam.
                    Quis turpis.
                </p>

            </div>

            <div class="Section6-ProductCard-Menu">
                <img src="~/img/menu182x.jpg" alt="">
                <div class="Section6-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Caffè Americano</h6>
                    <span>$8</span>
                </div>
                <p>
                    Feugiat rhoncus ipsum tristique
                    purus diam, et dolor molestie. Diam
                    ultricies.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div class="Section7-Menu">
        <img src="~/img/hero62x.jpg" alt="">
        <div class="Section7-TextSide-Menu">
            <span>BLACK PUDDING - $25</span>
        </div>
    </div>
</section>
<!-- Section 7 End -->
<!-- Section 8 Start -->
<section>
    <div class="Section8-Menu">
        <div class="Section8-Title-Menu">
            <i class="">Drinks & Cocktails</i>
            <div class="Section8-Line-Menu"></div>
        </div>
        <div class="Section8-ForFlex-menu">
            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu442x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Old Fashioned</h6>
                    <span>$13</span>

                </div>
                <p>
                    In pellentesque in felis massa
                    vehicula. In sed euismod ut tempor
                    mattis. Purus sed.
                </p>

            </div>

            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu422x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Gin & Tonic</h6>
                    <span>$13</span>

                </div>
                <p>
                    Mollis ornare sit sapien, sodales.
                    Cursus duis proin semper quisque
                    massa elit.
                </p>

            </div>

            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu462x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Long Island Ice Tea</h6>
                    <span>$18</span>

                </div>
                <p>
                    Ac vel, risus ornare senectus placerat
                    duis amet dictumst tellus. Odio
                    ornare diam in.
                </p>

            </div>

            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu482x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Caipirinha</h6>
                    <span>$14</span>

                </div>
                <p>
                    Aliquet bibendum aliquam donec
                    iaculis varius vitae tellus. Felis et
                    viverra.
                </p>

            </div>

            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu502x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Litchi Bomb</h6>
                    <span>$14</span>

                </div>
                <p>
                    Quis duis sit dictum aliquam a velit
                    enim. Tellus in sit augue aliquam.
                    Quis turpis.
                </p>

            </div>

            <div class="Section8-ProductCard-Menu">
                <img src="~/img/menu522x.jpg" alt="">
                <div class="Section8-ProductCard-PriceAndName-Flex-Menu">
                    <h6>Champagne Drink</h6>
                    <span>$16</span>
                </div>
                <p>
                    Feugiat rhoncus ipsum tristique
                    purus diam, et dolor molestie. Diam
                    ultricies.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- Section 8 End -->
