
@{
    ViewData["Title"] = "Index";
}


<!-- Section 1 Start -->
<section class="section1-homePage">
    <div class="section1-TextSide-homePage">
        <div data-aos="fade-right" class="section1-ForMargin-homePage">
            <div class="line-and-Text-homePage">
                <div class="line-and-Text_line-homePage"></div>
                <div class="line-and-Text_Text-homePage">
                    THE BEST TABLE IN TOWN
                </div>
            </div>
            <div style="margin-left: 16%;">
                <div class="section1-Find-Dining-Experience-homePage">
                    <p>FINE</p>
                    <p>DINING</p>
                    <p>EXPERIENCE</p>
                </div>
                <div class="section1-Text3-homePage">
                    <p>
                        Pellentesque vitae viverra risus,
                        sagittis. Venenatis ridiculus
                        scelerisque nisi in urna nulla. Sit
                        tempor a et nisl, ac felis.
                    </p>
                </div>
                <div class="Buy-Avada-homePage">
                    <span>BUY AVADA TODAY</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-homePage"></div>

</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>

    <div data-aos="fade-down">
        <div class="Section2-homePage">

            <div class="Section2-TextSide-homePage">
                <div class="Section2-TextSide-1-homePage">
                    <span>
                        <b>HAC TELLUS, FELIS RISUS AT</b> mattis mattis. Eget
                        euismod semper eget tortor, donec amet, blandit.
                        Tristique facilisi faucibus elementum feugiat in nam
                        in feugiat. Ipsum odio etiam duis facilisis amet
                        vulputate.
                    </span>
                </div>
                <div class="Section2-TextSide-2-homePage">
                    <span>
                        food is our common
                        ground, a universal
                        experience.
                    </span>
                </div>
                <div class="Section2-TextSide-3-homePage">
                    <p>
                        Tristique tempus condimentum diam donec.
                        Condimentum ullamcorper sit elementum hendrerit
                        mi nulla in consequat, ut. Metus, nullam scelerisque
                        netus viverra dui.
                    </p>
                </div>
                <div class="Section2-TextSide-4Img-homePage">
                    <img style="margin-top: 40px;" width="180" height="154" src="~/img/signature.jpg" alt="">
                </div>
            </div>
            <div class="Section2-ImageSide-homePage">
                <img width="523" height="715" src="~/img/info22x.jpg" alt="">
                <b>CALIFORNIA ROLLS - $22</b>
            </div>
        </div>
    </div>


</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->

<section>
    <div class="Section3-ForFlex1-homePage">
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/fluency-systems-regular/96/000000/sushi.png" />
            <h2>The best table in town</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Sed aenean egestas ut aliquam
                turpis mauris, molestie. Vitae tellus
                tempor sem id tempus neque, tellus
                turpis turpis. Morbi tortor id gravida
                aliquet.
            </p>
            <span>
                EXPLORE THE MENU
            </span>
        </div>
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />
            <h2>Perfect For Groups</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Quam eu proin sit massa
                condimentum. Volutpat non pulvinar
                aliquet nunc. Orci elementum in
                aliquet a gravida vivamus aliquam
                turpis vitae.
            </p>
            <span>
                BUY AVADA TODAY
            </span>
        </div>
        <div class="Section3-ProductCard-homePage">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" />
            <h2>Fresh produce everyday</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section3-Line-homePage">
            <p>
                Hendrerit amet, volutpat leo non,
                commodo maecenas scelerisque
                tincidunt. Morbi vulputate morbi
                purus quisque sit sagittis orci
                elementum gravida.
            </p>
            <span>
                LEARN MORE ABOUT US
            </span>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->

<section>
    <div class="Section4-ForFlex-homePage">

        <div class="Section4-ImageSide-homePage">
            <img style="position: absolute; object-fit: cover;" width="809" height="856" src="~/img/slider32x.jpg" alt="">


        </div>

        <div class="Section4-TextSide-homePage">
            <div class="Section4-LineAndText-homePage">
                <div class="Section4-Vl-homePage"></div>
                <div class="Section4-Text-homePage">
                    <span>FINE DINING EXPERIENCE</span>
                </div>
            </div>
            <div class="Section4-TableTown-homePage">
                <span>
                    THE BEST
                    TABLE IN
                    TOWN
                </span>
            </div>
            <div class="Section4-Text1-homePage">
                <span>
                    Pellentesque vitae viverra risus,
                    sagittis. Venenatis ridiculus
                    scelerisque nisi in urna nulla.
                </span>
            </div>
            <div class="Section4-Button-homePage">
                <span>EXPLORE THE MENU</span>
            </div>
        </div>
    </div>
</section>

<!-- Section 4 End -->
<!-- Section 5 Start -->
<section style="margin-top: 71%; ">
    <div class="Section5-Title-homePage">
        <i>What critics are saying about us</i>
        <center><hr class="Section5-TextUnderline-homePage"></center>
    </div>
    <div style="margin-left: 10%; margin-right: 10%; background-color: black; width: 1096px; height: 775px; margin-top: 60px;" class="Section5-ImageSide-homePage">
        <img style=" object-fit: cover;" width="570" height="775.92" src="~/img/blog72x.jpg" alt="">
        <div class="Section5-TextSide-homePage">
            <div class="Section5-TextSide-Name-homePage">
                <span>MEGGY STEWART</span>
            </div>
            <div class="Section5-TextSide-CityName-homePage">
                <span>NEW YORK TIMES</span>
            </div>
            <div class="Section5-TextSide-Stars-homePage">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="Section5-TextSide-Line-homePage"></div>
            <div class="Section5-TextSide-Desciription-homePage">
                <span>

                    Non arcu mauris tortor ultrices
                    mollis tellus euismod fermentum.
                    Habitant amet tincidunt id sapien
                    accumsan sed at.

                    Mmalesuada ullamcorper amet.
                    Pretium pretium dignissim nisi.
                </span>
            </div>
            <div class="Section5-TextSide-ButtonBorder-homePage">
                <span>
                    READ FULL ARTICLE
                </span>
            </div>
        </div>
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-ForFlex-homePage">
        <div class="Section6-FirstSide-homePage">
            <img style=" object-fit: cover;" src="~/img/info52x.jpg" alt="">
            <div class="Section6-FirstSide-ForAbsolute-homePage">
                <div class="Section6-FirstSide-Name-homePage">
                    <span>
                        MARY MAXEY
                    </span>
                </div>
                <div class="Section6-FirstSide-Profeccion-homePage">
                    <span>THE GUARDIAN</span>
                </div>
                <div class="Section6-FirstSide-Stars-homePage">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="Section6-FirstSide-Line-homePage"></div>
                <div class="Section6-FirstSide-Desciription-homePage">
                    <span>
                        Non arcu mauris tortor ultrices
                        mollis tellus euismod fermentum.
                        Habitant amet tincidunt id sapien
                        accumsan sed.
                    </span>
                </div>
                <div class="Section6-FirstSide-ButtonBorder-homePage">
                    <span>
                        READ FULL ARTICLE
                    </span>
                </div>
            </div>
        </div>
        <div class="Section6-FirstSide-homePage">
            <img style=" object-fit: cover;" src="~/img/info12x.jpg" alt="">
            <div class="Section6-FirstSide-ForAbsolute-homePage">
                <div class="Section6-FirstSide-Name-homePage">
                    <span>
                        PATRICK MONROE
                    </span>
                </div>
                <div class="Section6-FirstSide-Profeccion-homePage">
                    <span>GLOBE AND MAIL</span>
                </div>
                <div class="Section6-FirstSide-Stars-homePage">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="Section6-FirstSide-Line-homePage"></div>
                <div class="Section6-FirstSide-Desciription-homePage">
                    <span>
                        Vivamus magna justo, lacinia eget
                        consectetur sed, convallis at
                        tellus. Nulla porttitor accumsan
                        tincidunt.
                    </span>
                </div>
                <div class="Section6-FirstSide-ButtonBorder-homePage">
                    <span>
                        READ FULL ARTICLE
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div style="margin-top: 80px;" class="Section7-homePage">
        <img style="object-fit: cover;" width="1349" height="482" src="~/img/page52x.jpg" alt="">
        <span>KUNG PAO CHICKEN - $32</span>
    </div>
</section>
<!-- Section 7 End -->
<!-- Section 8 Start -->
<section>
    <div class="Section8-Header-homePage">
        <i>Latest news & promotions</i>
        <hr class="Section8-Line-homePage">
    </div>
    <div class="Section8-ForFlex-homePage">
        <div class="Section8-PorductCard-homePage">
            <img src="~/img/blog92x.jpg" alt="">
            <div class="Section8-ProductCard-BackSide-homePage">
                <i class="fa-solid fa-link"></i>
                <span>The best coffee in town</span>
                <i class="Section8-ProductCard-BackSide-News-homePage">News</i>
            </div>
            <div class="Section8-PorductCard-UnderSide-homePage">
                <span>The best coffee in town</span>
                <p>
                    By admin|January 7th, 2020|Categories: News

                </p>
            </div>
        </div>
        <div class="Section8-PorductCard-homePage">
            <img src="~/img/blog72x.jpg" alt="">
            <div class="Section8-ProductCard-BackSide-homePage">
                <i class="fa-solid fa-link"></i>
                <span>Discover our new menu</span>
                <i class="Section8-ProductCard-BackSide-News-homePage">News</i>
            </div>
            <div class="Section8-PorductCard-UnderSide-homePage">
                <span>Discover our new menu</span>
                <p>
                    By admin|January 7th, 2020|Categories: News

                </p>
            </div>
        </div>
        <div class="Section8-PorductCard-homePage">

            <img src="~/img/blog82x.jpg" alt="">

            <div class="Section8-ProductCard-BackSide-homePage">
                <i class="fa-solid fa-link"></i>
                <span>We now accept Square!</span>
                <i class="Section8-ProductCard-BackSide-News-homePage">News</i>
            </div>
            <div class="Section8-PorductCard-UnderSide-homePage">
                <span>We now accept Square!</span>
                <p>
                    By admin|January 7th, 2020|Categories: News

                </p>
            </div>
        </div>
    </div>
</section>
<!-- Section 8 End -->
<!-- Section 9 Start -->
<section>
    <div class="Section9-Backround-homePage">
        <img width="809.39" height="805.44" src="~/img/slider72x-scaled.jpg" alt="">
        <div class="Section9-TextSide-homePage">
            <div class="Section9-LineAndTextFlex-homePage">
                <hr class="Section9-Line-homePage">
                <span class="Section9-LineAndTextFlex-Text-homePage">
                    ENJOY YOUR MEAL AT HOME
                </span>
            </div>
            <div class="Section9-DescriptionAndTitle-homePage">
                <span class="Section9-Title-homePage">
                    TAKEOUT NOW
                    AVAILABLE
                </span>
                <span class="Section9-Description-homePage">
                    Pellentesque vitae viverra risus,
                    sagittis. Venenatis ridiculus
                    scelerisque nisi in urna nulla non
                    arcu moris tortor.


                </span>
                <div class="Section9-CarAndButton-homePage">
                    <i class="fa-solid fa-car"></i>
                    <span>
                        VIEW TAKEOUT MENU
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section 9 End -->
<!-- Section 10 Start -->
<section style="margin-left: 6%; margin-right: 6%;">
    <div class="Section10-ForFlex-homePage">
        <div class="Section10-FirstSide-homePage">
            <h3>HORS D’OEUVRES</h3>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-homePage">
                    <span>AHI SALMON NIGIRI</span>
                    <h6>$48</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Eget vulputate vitae quis
                    rutrum blandit sed. Quam
                    nulla sit lacinia.
                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-homePage">
                    <span>UMI MASU SALAD</span>
                    <h6>$21</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Mollis ornare sit sapien,
                    sodales. Cursus duis proin
                    semper quisque.
                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-homePage">
                    <span>TEMAKI WITH CRAB</span>
                    <h6>$32</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Ac vel, risus ornare senectus
                    placerat duis amet dictumst
                    tellus.
                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-homePage">
                    <span>California Rolls</span>
                    <h6>$22</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Ac vel, risus ornare senectus
                    placerat duis amet dictumst
                    tellus.
                </span>
            </div>
        </div>
        <div class="Section10-SecoundSide-homePage">
            <img width="398" height="905.55" style="position: absolute; opacity: 0.3;object-fit: cover;" src="~/img/misc22x.jpg" alt="">
            <div class="Section10-SecoundSide-Add-homePage" style="position: absolute;">
                <h3>Main Course</h3>
                <div class="Section10-SecoundSide-TitleCostAndDecription-homePage">
                    <div class="Section10-SecoundSide-CostAndTitle-homePage">
                        <span>Braised Abalone</span>
                        <h6>$52</h6>
                    </div>
                    <span class="Section10-SecoundSide-Description-homePage">
                        Mollis ornare sit sapien,
                        sodales. Cursus duis proin
                        semper quisque.
                    </span>
                </div>
                <div class="Section10-SecoundSide-TitleCostAndDecription-homePage">
                    <div class="Section10-SecoundSide-CostAndTitle-homePage">
                        <span>Twice Cooked Pork</span>
                        <h6>$21</h6>
                    </div>
                    <span class="Section10-SecoundSide-Description-homePage">
                        Ac vel, risus ornare senectus
                        placerat duis amet dictumst
                        tellus.
                    </span>
                </div>
                <div class="Section10-SecoundSide-TitleCostAndDecription-homePage">
                    <div class="Section10-SecoundSide-CostAndTitle-homePage">
                        <span>Kung Pao Chicken</span>
                        <h6>$32</h6>
                    </div>
                    <span class="Section10-SecoundSide-Description-homePage">
                        Quis duis sit dictum aliquam a
                        velit enim. Tellus in sit augue
                        aliquam.
                    </span>
                </div>
                <div class="Section10-SecoundSide-TitleCostAndDecription-homePage">
                    <div class="Section10-SecoundSide-CostAndTitle-homePage">
                        <span>CHAR SIU & SUSHIS</span>
                        <h6>$48</h6>
                    </div>
                    <span class="Section10-SecoundSide-Description-homePage">
                        Feugiat rhoncus ipsum
                        tristique purus diam, et dolor
                        molestie.
                    </span>
                </div>
            </div>
        </div>
        <div class="Section10-3Side-homePage">
            <h3>DESSERTS</h3>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-3-homePage">
                    <span>Chocolate ball cake</span>
                    <h6>$13</h6>
                </div>
                <span class="Section10-Description-homePage">
                    In pellentesque in felis massa
                    vehicula. In sed euismod ut.

                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-3-homePage">
                    <span>LIME PIE WITH CRUST</span>
                    <h6>$14</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Mollis ornare sit sapien,
                    sodales. Cursus duis proin
                    semper quisque.
                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-3-homePage">
                    <span>RASBERRY PEAR CAKE</span>
                    <h6>$18</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Eget vulputate vitae quis
                    rutrum blandit sed. Quam
                    nulla sit.
                </span>
            </div>
            <div class="Section10-TitleCostAndDecription-homePage">
                <div class="Section10-CostAndTitle-3-homePage">
                    <span>Café Au Lait</span>
                    <h6>$6</h6>
                </div>
                <span class="Section10-Description-homePage">
                    Eget vulputate vitae quis
                    rutrum blandit sed. Quam
                    nulla sit.
                </span>
            </div>
        </div>
    </div>
</section>
<!-- Section 10 End -->
<!-- Section 11 Start -->
<section>
    <div class="Section11-homePage">
        <img style="position: absolute;" width="100%" height="794.97" style="object-fit: cover;" src="~/img/hero42x.jpg" alt="">
        <div class="Section11-Backround-homePage">
            <div class="Section11-NameAndCostFlex-homePage">
                <h2>
                    BRAISED
                    ABALONE
                </h2>
                <h6>
                    $52
                </h6>
            </div>
            <hr style="color: white;" class="Section11-Line-homePage">
            <div style="margin-bottom: 45px;">
                <span class="Section11-Description-homePage">
                    Pretium accumsan porttitor
                    viverra leo gravida mollis
                    imperdiet. Fringilla nibh pharetra
                    sociis leo amet.
                </span>
            </div>
            <div class="Section11-Border-homePage">
                <span>BUY AVADA TODAY</span>
            </div>
        </div>
    </div>
</section>
<!-- Section 11 End -->
