
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Reservation">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page102x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Reservation">
        <h6>BEST TABLE IN TOWN</h6>
        <h1>Reservations</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    <div class="Section2-ForFlex">
        <div class="Section2-Left-Reservation">
            <div class="Section2-Left-FistSide-Reservation">
                <img src="~/img/misc3@2x.jpg" alt="">
                <p>
                    Hac tellus, felis risus at mattis. Eget euismod
                    semper eget tortor, donec amet, blandit.
                    Tristique facilisi faucibus elementum feugiat
                    in nam in feugiat.
                </p>
            </div>
            <div class="Section2-Left-ContactSide-Reservation">
                <h2>reserve by phone</h2>
                <div class="Section2-Left-ContactSide-ForFlexNumberSide-Reservation">
                    <i class="fa-solid fa-house"></i>
                    <p>Restaurant : (123) 456-7891</p>
                </div>
                <div class="Section2-Left-ContactSide-ForFlexNumberSide-Reservation">
                    <i class="fa-solid fa-mobile-button"></i>
                    <p>Cellphone : (123) 456-7891</p>
                </div>
                <div class="Section2-Left-ContactSide-SocialMedia-Reservation">
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section2-Right-Reservation">
            <form id="login" onsubmit="process(event)">
                <div class="Section2-Right-Flex-Reservation">
                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="Your name">Your name *</label>
                        <input id="Your name" type="text">
                    </div>

                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="phone">Phone number</label>
                        <input id="phone" type="tel" name="phone" />
                    </div>
                </div>
                <div class="Section2-Right-Flex-Reservation">
                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="NumberOfGuests">Number of guests *</label>
                        <input id="NumberOfGuests" min="1" max="100" type="number">
                    </div>

                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="today2">Date of reservation *</label>
                        <input id="today2" type="date">
                    </div>
                </div>
                <div class="Section2-Right-FlexInside-Reservation Section2-Right-FlexInsideAdditional-Reservation">
                    <label for="Time of reservation">Time of reservation</label>
                    <input id="Time of reservation" type="time">
                </div>

                <div class="Section2-Right-FlexInside-Reservation Section2-Right-FlexInsideAdditional-Reservation">
                    <label for="Additional note">Additional note</label>
                    <textarea id="Additional note" type="text"></textarea>
                </div>

                <div class="Section2-Right-CheckboxSide-Reservation">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I agree to use my personal data.</label>
                </div>
                <div class="Section2-Right-BorderButton-Reservation">
                    <span>SEND YOUR RESERVATION</span>
                </div>



            </form>
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section style="margin-bottom:100px;">
    <div class="Section3-BackroundColor-Reservation">
        <div class="Section3-ForFlex-Reservation">
            <img width="545.61" height="410.69" src="~/img/slider72x-scaled.jpg" alt="">
            <div class="Section3-TextSide-Reservation">
                <h6>ENJOY YOUR MEAL AT HOME</h6>
                <h3>TAKEOUT NOW AVAILABLE</h3>
                <p>
                    Non arcu mauris tortor ultrices mollis
                    tellus euismod fermentum.at.
                </p>
                <div class="Section3-Border-Reservation">
                    <i class="fa-solid fa-car"></i>
                    <span>VIEW TAKEOUT MENU</span>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section 3 End -->
