@using AvadaRestaurantFinal.Models
@model Reservation
@{
    ViewData["Title"] = "Index";
}
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>

</div>

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;margin-bottom:50px;">
    <div class="Section1-ImageSide-Reservation">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page102x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Reservation">
        <h6>BEST TABLE IN TOWN</h6>
        <h1>Reservations</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
    @if (User.Identity.IsAuthenticated)
    {<a class="Button-ShowReservation" asp-controller="Reservations" asp-action="ShowReservation">Show Reservation</a> }
    else
    {<a asp-controller="Account" asp-action="Login">Show Reservation</a>}
    <div class="Section2-ForFlex">
        <div class="Section2-Left-Reservation">
            <div class="Section2-Left-FistSide-Reservation">
                <img src="~/img/misc3@2x.jpg" alt="">
                <p>
                    Hac tellus, felis risus at mattis. Eget euismod
                    semper eget tortor, donec amet, blandit.
                    Tristique facilisi faucibus elementum feugiat
                    in nam in feugiat.
                </p>
            </div>
            <div class="Section2-Left-ContactSide-Reservation">
                <h2>reserve by phone</h2>
                <div class="Section2-Left-ContactSide-ForFlexNumberSide-Reservation">
                    <i class="fa-solid fa-house"></i>
                    <p>Restaurant : (123) 456-7891</p>
                </div>
                <div class="Section2-Left-ContactSide-ForFlexNumberSide-Reservation">
                    <i class="fa-solid fa-mobile-button"></i>
                    <p>Cellphone : (123) 456-7891</p>
                </div>
                <div class="Section2-Left-ContactSide-SocialMedia-Reservation">
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="Section2-Left-ContactSide-SocialMedia-Border-Reservation">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section2-Right-Reservation">
            <form id="login" method="post" onsubmit="process(event)">
                <div class="Section2-Right-Flex-Reservation">
                    @*<div class="Section2-Right-FlexInside-Reservation">
                            <label for="Your name">Your name *</label>
                            <input id="Your name" type="text">
                        </div>*@

                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="phone">Phone number</label>
                        <input value="" id="phone" asp-for="Number" type="tel" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="Section2-Right-Flex-Reservation">
                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="NumberOfGuests">Number of guests *</label>
                        <input value="" id="NumberOfGuests" asp-for="NumberOfGuest" min="1" max="6" type="number">
                        <span asp-validation-for="NumberOfGuest" class="text-danger"></span>
                    </div>

                    <div class="Section2-Right-FlexInside-Reservation">
                        <label for="today2">Date of reservation *</label>
                        <input min="2022-04-27" defaultValue="2022-04-27" value="" id="today2" asp-for="DateOfReserVation" type="date">
                        <span asp-validation-for="DateOfReserVation" class="text-danger"></span>
                    </div>
                </div>
                <div class="Section2-Right-FlexInside-Reservation Section2-Right-FlexInsideAdditional-Reservation">
                    <label for="Time of reservation">Time of reservation</label>
                    <input value="" id="Time of reservation" asp-for="TimeOfReservation" type="time">
                    <span asp-validation-for="TimeOfReservation" class="text-danger"></span>

                </div>

                <div class="Section2-Right-FlexInside-Reservation Section2-Right-FlexInsideAdditional-Reservation">
                    <label for="Additional note">Additional note</label>
                    <input value="" id="Additional note" asp-for="AdditionalNote" type="text" />
                    <span asp-validation-for="AdditionalNote" class="text-danger"></span>
                </div>

                @*<div class="Section2-Right-CheckboxSide-Reservation">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I agree to use my personal data.</label>
                    </div>*@
                <div class="Section2-Right-BorderButton-Reservation">
                    <button style="border:none;background-color:white;" type="submit"><span>SEND YOUR RESERVATION</span></button>
                </div>



            </form>
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section style="margin-bottom:100px;">
    <div class="Section3-BackroundColor-Reservation">
        <div class="Section3-ForFlex-Reservation">
            <img width="545.61" height="410.69" src="~/img/slider72x-scaled.jpg" alt="">
            <div class="Section3-TextSide-Reservation">
                <h6>ENJOY YOUR MEAL AT HOME</h6>
                <h3>TAKEOUT NOW AVAILABLE</h3>
                <p>
                    Non arcu mauris tortor ultrices mollis
                    tellus euismod fermentum.at.
                </p>
                <div class="Section3-Border-Reservation">
                    <i class="fa-solid fa-car"></i>
                    <a asp-controller="Takeout" asp-action="index"><span>VIEW TAKEOUT MENU</span></a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<style>
    *:focus {
        outline: none;
    }

    input {
        padding: 0 17px;
    }

        input[type=number] {
            padding: 17px;
        }

    textarea {
        padding: 17px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: #f5f5f5;
        border-radius: 10px;
        z-index: 2;
        text-align: center;
        opacity: 1;
        /*         top: -200%;
    */ /* transform: translate(-50%,-50%) scale(0.5);
            transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;*/
    }

        /*.popup.active {
                opacity: 1;
                top: 50%;
                transform: translate(-50%,-50%) scale(1);
                transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
            }*/

        .popup .icon {
            margin: 5px 0;
            width: 50px;
            height: 50px;
            border: 2px solid #8B0000;
            text-align: center;
            display: inline-block;
            line-height: 60px;
            border-radius: 50%;
        }

            .popup .icon i.fa {
                font-size: 30px;
                color: #8B0000;
            }

        .popup .title {
            margin: 5px 0px;
            font-size: 30px;
            font-weight: 600;
        }

        .popup .description {
            padding: 5px;
            font-size: 15px;
            color: #222;
        }

        .popup .dismiss-btn {
            margin-top: 15px;
        }

            .popup .dismiss-btn button {
                padding: 10px 20px;
                background: #111;
                color: #f5f5f5;
                border: 2px solid #111;
                font-size: 16px;
                font-weight: 600;
                outline: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }

                .popup .dismiss-btn button:hover {
                    color: #111;
                    background: #f5f5f5;
                }

    .Button-ShowReservation {
        color: black;
        border: 1px solid black;
        padding: 15px 29px;
        font-family: 'Lora', serif;
        transition: all 300ms ease-in-out;
        margin-left: 140px;
    }

        .Button-ShowReservation:hover {
            background-color: black;
            color: white;
        }
</style>

