
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-ReceptionBar">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/hero192x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-ReceptionBar">
        <h6>BEST TABLE IN TOWN</h6>
        <h1>Reception & Bar</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section style="background-color: black; width: 100%; height: 458.78px;">
    <div class="Section2-ForFlex-ReceptionBar">
        <div class="Section2-TextSide-ReceptionBar">
            <h6>FINE DINING EXPERIENCE</h6>
            <p>
                Nulla quis lorem ut libero malesuada feugiat.
                Pellentesque in ipsum id orci porta dapibus. Praesent
                sapien massa, convallis a pellentesque nec, egestas
                non.
            </p>
        </div>
        <div class="Section2-TextSide-ReceptionBar">
            <h6>PROFESIONNAL MIXOLOGISTS</h6>
            <p>
                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
                a. Sed porttitor lectus nibh. Quisque velit nisi, pretium
                ut lacinia in, elementum id enim.
                non.
            </p>
        </div>
    </div>
</section>
<!-- Section 2 End -->
<!-- Section 3 Start -->
<section>
    <div class="Section3-ForFlexAndBackround-ReceptionBar">
        <div class="Section3-ImageSide-ReceptionBar">
            <img src="~/img/hero172x.jpg" alt="">
        </div>
        <div class="Section3-TextSide-ReceptionBar">
            <div class="Section3-LineAndText-ReceptionBar">
                <div style="margin-right: 30px;" class="Section3-LineAndText-Line-ReceptionBar"></div>
                <h6>THE BEST TABLE IN TOWN</h6>
            </div>
            <div class="Section3-TextSide-ForMargin-ReceptionBar">
                <h2>
                    Plan
                    Your
                    Reception
                </h2>
                <p>
                    Pellentesque vitae viverra risus,
                    sagittis. Venenatis ridiculus
                    scelerisque nisi in urna nulla. Sit
                    tempor a et nisl, ac felis.
                </p>
                <div class="Section3-Border-ReceptionBar">
                    <span>CONTACT US TODAY</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 3 End -->
<!-- Section 4 Start -->
<section>
    <div class="Section4-ForFlex-ReceptionBar">
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/fluency-systems-regular/96/000000/sushi.png" />
            <h2>The best table in town</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Sed aenean egestas ut aliquam
                turpis mauris, molestie. Vitae tellus
                tempor sem id tempus neque, tellus
                turpis turpis. Morbi tortor id gravida
                aliquet.
            </p>
            <span>
                EXPLORE THE MENU
            </span>
        </div>
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />
            <h2>Perfect For Groups</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Quam eu proin sit massa
                condimentum. Volutpat non pulvinar
                aliquet nunc. Orci elementum in
                aliquet a gravida vivamus aliquam
                turpis vitae.
            </p>
            <span>
                BUY AVADA TODAY
            </span>
        </div>
        <div class="Section4-ProductCard-ReceptionBar">
            <img width="96" height="96" src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/100/000000/external-sushi-fast-food-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" />
            <h2>Fresh produce everyday</h2>
            <hr style="margin-left: 40% ; margin-right: 40%;" class="Section4-Line-ReceptionBar">
            <p>
                Hendrerit amet, volutpat leo non,
                commodo maecenas scelerisque
                tincidunt. Morbi vulputate morbi
                purus quisque sit sagittis orci
                elementum gravida.
            </p>
            <span>
                LEARN MORE ABOUT US
            </span>
        </div>
    </div>
</section>
<!-- Section 4 End -->
<!-- Section 5 Start -->
<section>
    <div class="Section5-Backround-ReceptionBar">
        <div class="Section5-TextSide-ReceptionBar">
            <div class="Section5-TextAndLine-ForFlex-ReceptionBar">
                <h6>TASTE OUR DRINKS</h6>
            </div>
            <h2>
                BEST
                COCKTAILS
                IN TOWN
            </h2>
            <p>
                Pellentesque vitae viverra risus,
                sagittis. Venenatis ridiculus
                scelerisque nisi in urna nulla. Sit
                tempor a et nisl, ac felis.
            </p>
            <span>VIEW THE DRINK LIST</span>
        </div>
        <img src="~/img/hero132x.jpg" alt="">
    </div>
</section>
<!-- Section 5 End -->
<!-- Section 6 Start -->
<section>
    <div class="Section6-Backround-ReceptionBar">
        <p style="font: size 15px;font-family: 'Lora', serif;color:white;font-weight: bolder;margin-bottom: -2px;">
            PERFECT PLACE FOR A RECEPTION
        </p>
        <p style="white-space: pre-line;font-size: 19px;font-family: 'Lora', serif;color: #D6D6D6; margin-bottom: 50px;">
            Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum
            id orci porta dapibus. Praesent sapien massa, convallis a
            pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet
            quam vehicula elementum sed sit amet dui.
        </p>
        <span>
            PLAN YOUR RECEPTION
        </span>
    </div>
</section>
<!-- Section 6 End -->
<!-- Section 7 Start -->
<section>
    <div class="Section7-ReceptionBar">
        <img src="~/img/hero62x.jpg" alt="">
        <div class="Section7-TextSide-ReceptionBar">
            <span>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</span>
        </div>
    </div>
</section>
<!-- Section 7 End -->
