<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Montserrat&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/owl/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/owl/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/homePage.css">
    <link href="~/css/Bulettin.css" rel="stylesheet" />
    <link href="~/css/Menu.css" rel="stylesheet" />
    <link href="~/css/MenuDetail.css" rel="stylesheet" />
    <link href="~/css/ReceptionBar.css" rel="stylesheet" />
    <link href="~/css/RESERVATIONS.css" rel="stylesheet" />
    <link href="~/css/Takeout.css" rel="stylesheet" />
    <link href="~/css/Team.css" rel="stylesheet" />
    <link href="~/css/TakeoutDetail.css" rel="stylesheet" />
    <link href="~/css/historyPage.css" rel="stylesheet" />
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
</head>
<body>

    <!-- Header Start -->
    @await Component.InvokeAsync("Header")
    <!-- Header End -->
    <!-- Main Start  -->
    <main>
        @RenderBody()
    </main>
    <!-- Main End -->
    <!-- Footer Start -->
    <footer>
        <div class="Footer-ImageSide">
            <img src="~/img/footer2x.jpg" alt="">
        </div>
        <div class="Footer-LogoDesciriptionAndSocial">
            <img src="https://avada.theme-fusion.com/restaurant/wp-content/uploads/sites/112/2021/04/logo-svg.svg" alt="">
            <span>
                Quam eu proin sit massa condimentum. Volutpat non pulvinar
                aliquet nunc. Quam eu proin sit massa condimentum.
            </span>
            <div class="Footer-SocialBorder">
                <span class="tooltiptext">Facebook</span>
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="Footer-SocialBorder">
                <span class="tooltiptext1">Twitter</span>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="Footer-SocialBorder">
                <span class="tooltiptext2">Instagram</span>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="Footer-SocialBorder">
                <span class="tooltiptext3">Youtube</span>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="Footer-SocialBorder">
                <span class="tooltiptext4">Linkedin</span>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
        <div class="Footer-Under">
            <span>© Copyright 2012 - 2022 | Avada Theme by Code Academy | All Rights Reserved | Powered by Xanış Ələsgərov</span>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/owl/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                
                
                //animateOut: 'slideOutDown',
                animateOut: 'fadeOut',
                animateIn: 'flipInX',
                margin: 30,
                autoplay: true,
                autoplayTimeout: 2000,
                stagePadding: 30,
                smartSpeed: 450,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });
           
        });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
