@using AvadaRestaurantFinal.Models
@model List<Bulletin>
@{
    ViewData["Title"] = "Index";
}

<!-- Section 1 Start -->
<section style="width: 100%; height: 418.97px;">
    <div class="Section1-ImageSide-Bulletin">
        <img style="object-fit: cover;" height="418.97px" width="100%" src="~/img/page15@2x.jpg" alt="">
    </div>
    <div class="Section1-TextSide-Bulletin">
        <h6>BEST TABLE IN TOWN</h6>
        <h1>Bulletin</h1>
    </div>
</section>
<!-- Section 1 End -->
<!-- Section 2 Start -->
<section>
     @*<div class="Section2-Header-Bulletin">
        <i>Latest news & promotions</i>
        <hr class="Section2-Line-Bulletin">
    </div>*@ 
    <div class="Section2-ForFlex-Bulletin">
        @foreach (var item in Model)
        {
            <div class="Section2-PorductCard-Bulletin">
                <a href=""><img src="~/img/@item.ImageUrl" alt=""></a>
                <div class="Section2-ProductCard-BackSide-Bulletin">
                    <a href=""><i class="fa-solid fa-link"></i></a>
                    <a href=""><span>@item.Name</span></a>
                    <a href=""><i class="Section2-ProductCard-BackSide-News-Bulletin">News</i></a>
                </div>
                <div class="Section2-PorductCard-UnderSide-Bulletin">
                    <span>@item.Name</span>
                    <p>
                        By admin|January 7th, 2020|Categories: News

                    </p>
                </div>
            </div>
        }
    </div>
</section>
<!-- Section 2 End -->
