@{
    Layout = null;
}

<header class="header">
    <span>@ViewBag.UserName</span>
    @if (User.Identity.IsAuthenticated)
    {
      <a style="color:white;" asp-controller="Account" asp-action="Logout">Logout</a> 

    }
    else
    {
     <a style="color:white;" asp-controller="Account" asp-action="Login">Login</a>

    }
    @*<a style="color:white;" asp-controller="Account" asp-action="Register">Register</a>*@
    <div class="container">
        <div class="header_left">
            <a href=""><img src="https://avada.theme-fusion.com/restaurant/wp-content/uploads/sites/112/2021/04/logo-svg.svg" alt=""></a>
        </div>
        <div class="header_right">
            <label for="navTrigger" class="nav_icon"><i class="fa fa-bars"></i></label>
            <input id="navTrigger" type="checkbox" name="">
            <nav class="main_nav">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">HISTORY</a>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li><a class="first-a" href="">HISTORY</a></li>
                            <li><a class="last-a" href="">Reception & Bar</a></li>
                        </ul>
                    </li>
                    <li><a href="">TEAM</a></li>
                    <li><a href="">MENU</a></li>
                    <li>
                        <a href="">TAKEOUT</a>
                        <!-- <div class="Takeout-New">
                            <span>New</span>
                        </div> -->
                        <i class="fa fa-angle-down "></i>
                        <ul>
                            <li><a class="first-a" href="">Simple Product</a></li>
                            <li><a class="last-a" href="">Variable Product</a></li>
                        </ul>
                    </li>
                    <li><a href="">BULLETIN</a></li>
                    <li><a href="">RESERVATIONS</a></li>
                </ul>
            </nav>
        </div>
        <div style="color:white;margin-top:22px;">
            <a asp-controller="Basket" asp-action="ShowBasket"><i style="color:white;" class="fa-solid fa-basket-shopping"></i> <sup style="color:white;">@ViewBag.ProductCount</sup></a>
        </div>
    </div>
</header>
<style>
    .main_nav ul li {
        float: left;
        margin: 0 0 0 15px;
        position: relative;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 300;
        position: relative;
        margin-top: 15px;
    }
</style>